<!DOCTYPE html>
<html>

    <head>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Project Maria</title>
        <%- include ('partials/head') %>

        <!-- Leaflet CSS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>

        <!--Leaflet JavaScript-->
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>

        <!-- CSS -->
        <style>
            #map { height: 100vh; width: 100%; z-index: 1; }
        </style>

    </head>


    <body>
        <h4 id="main-text">Page to view data from socket io</h4>

        </form>

        <script>


        </script>

    </body>


</html>