/***************Code Ko To Tanginamo***************/
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
.bg-div {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.nav-main{
    background-color: #153A1E;
    position: relative;
    display: flex;
    height: 100%;
    padding: 32px 0px 32px 32px;
    width: 115px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}  

.nav-main-expand {
    width: 393px;
    transition: all 0.5s ease;
}
.nav-main-expand .nav-a{
    padding-left: 32px;
    transition: all 0.5s ease;
}
.nav-main-expand .logout{
    padding-left: 32px;
    transition: all 0.5s ease;
}
.nav-main-expand hr {
    visibility: visible;
    transition: visibility 0.5s ease;
}
.nav-main-expand .logo .list {
    display: none;
    transition: display 0.5s ease;
}
.nav-main-expand .logo .x {
    display: block;
    transition: display 0.5s ease;
}

.logo {
    display: flex;
    transition: all 0.5s ease;
    align-items: center;
}
.logo .list{
    width: 50px;
    height: 50px;
    transition: display 0.5s ease;
    cursor: pointer;
}
.logo .x{
    width: 50px;
    height: 50px;
    margin-left: 24px;
    display: none;
    transition: display 0.5s ease;
    cursor: pointer;
}
.logo .dmsmaria {
    margin-left: 36px;
}
.nav-span{
    font-weight: bold;
    padding-left: 36px;
    font-size: 18px;
    text-transform: uppercase;
}
.yellow {
    color: yellow;
}
.nav-a {
    position: relative;
    color: white;
    display: table;
    width: 300px;
    margin-bottom: 46px;
    transition: padding 0.2s linear;
}
.nav-a:hover {
    text-decoration: none;
    color: #F6E533;
}

.icon {
    position: relative;
    width: 50px;
}

.logout {
    color: white;
    display: table;
    width: 300px;
    transition: padding 0.2s linear;
    margin-bottom: 46px;
}
.logout:hover {
    text-decoration: none;
    color: #F6E533;
}
.nav_hr {
    background-color: white;
    height: 2px;
    margin: 10px 30px 90px 0;
    visibility: hidden;
    transition: visibility 0s ease;
}
#map {
     height: 100vh;
     flex: 1;
     z-index: 1;
}

ul{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hover-li:hover {
    border-right: 10px solid #F6E533;
}

/*************** /Code Ko To Tanginamo ***************/

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
}
