body {
    font-family: Roboto, sans-serif;
    background: #eee;
}


.main-box-detail {
    position: relative;
}

.main-box-detail a {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    padding: 3em;
}


/*  DATA PAGE */

#data {
    padding: 110px 75px 100px 75px;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}
#data #main-text {
    border-bottom: 4px solid #153A1E;
    width: 13em;
    font-weight: 600;
    font-size: 36px;
}
.data_searchbar {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem 0 1rem 0;
    align-items: center;
    gap: 2rem;
}
.data_subtext{
    font-weight: 600;
    cursor: default;
}
.data_button{
    background-color: #F6E533;
    color: #AA1111;
    font-size: 20px;
    padding: 16px 40px 16px 40px;
    font-weight: 600;
    border-radius: 12px;
}
.data_button:hover{
    background-color:#f1df0f;
}
.table_container {
    display: flex;
    align-items: flex-start;
    flex: 1;
    width: 100%;
    overflow: scroll;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

th,
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    cursor: pointer;
}
th {
    background-color: #153A1E;
    font-size: 26px;
    line-height: 36px;
    color: white;
    cursor: default;
}

td {
    font-size: 20px;
    line-height: 30px;
}

.footer_container {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}

.pagination_buttons_div{
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    width: auto;
    height: auto;
    gap: 4px;
    list-style-type: none;
}

.footer_text {
    font-style: normal;
    font-weight: 300;
}

.pagination_buttons {
    color: black;
    border-style: hidden;
    text-decoration: none;
    padding: 8px 15px;
    background-color: white;
    border: solid 1.13px #989898;
    border-radius: 8px;
}

.pagination_buttons_active {
    color: white;
    background-color: #800000;
    border-style: hidden;
    text-decoration: none;
    padding: 8px 15px;
}

.pagination_buttons:hover {
    color: white;
    background-color: #153A1E;
    box-shadow: 10px 10px 7px -1px rgba(0, 0, 0, 0.1);
    filter: saturate(150%);
    transform: scale(1.05);
    transition: ease 100ms;
}
tr:hover{
    background-color: #FDFF78;
}

#data input {
    height: 64px;
    width: 25%;
    padding: 8px;
    border: solid 1.5px #989898;
    border-radius: 8px;
}

#data .gps-link {
    font-size: 9pt;
}


/* DUCKS PAGE */

#ducks {
    padding: 110px 75px 0px 75px;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

#ducks #main-text {
    border-bottom: 4px solid #153A1E;
    width: 13em;
    font-weight: 600;
    font-size: 36px;
}

#ducks .ducks-list {
    display: flex;
    align-items: flex-start;
    flex: 1;
    width: 100%;
    overflow: scroll;
}

#ducks .ducks-list .duck {
    display: flex;
    width: 25%;
    padding: 1rem;
}
.duck_status {
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
}

#ducks .ducks-list .duck .inner {
    padding: 27px 32px;
    background: #fff;
    border: solid 1px #989898;
    cursor: pointer;
    width: 100%;
    height: 310px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 8px;
}


#ducks .ducks-list .duck .icon.offline {
    font-weight: 700;
    padding: 10px 7px;
    color: white;
    background: #DC3545;
    border-radius: 5px;
    display: flex;
    width: auto;
    align-items: center;
}

#ducks .ducks-list .duck .icon.online {
    font-weight: 700;
    line-height: 1.25em;
    padding: .25em .35em .15em;
    background: #28A745;
    border-radius: 5px;
    display: inline-block;
    display: flex;
    width: auto;
    align-items: center;
}

#ducks .ducks-list .duck .icon img {
    width: 22px;
    margin: 0 12px 0 0;
}

#ducks .ducks-list .duck .status {
    display: flex;
    align-items: center;
}

#ducks .ducks-list .duck .status p {
    display: none;
}

#ducks .ducks-list .duck .status.offline p {
    margin: 0;
    text-transform: uppercase;
    color: red;
    font-size: 16px;
    font-weight: 800;
    text-align: right;
    line-height: 2.5em;
    display: block;
}

#ducks .ducks-list .duck .status.online p {
    margin: 0;
    text-transform: uppercase;
    color: chartreuse;
    font-size: 16px;
    font-weight: 800;
    text-align: right;
    line-height: 2.5em;
    display: block;
}


#ducks .ducks-list .duck .mid {
    font-size: 8px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

#ducks .ducks-list .duck .payload {
    font-size: 16px;
    font-weight: 400;
    min-height: 3em;
    word-wrap: break-word
}

#ducks .ducks-list .duck .path {
    font-size: 16px;
    font-weight: 600;
    min-height: 2em;
}

#ducks .ducks-list .duck .updated {
    font-size: .5em;
    font-weight: 300;
    margin: 0;
    position: absolute;
    bottom: 16px;
}
.wifi_btn_div {
    display: flex;
    gap: 24px;
}
.wifi_btn{
    font-size: 16px;
    width: 92px;
    height: 33px;
    border: solid 1px black;
    margin-top: 24px;
}
#ducks .ducks-list .duck:hover .inner {
    background: #FDFF78;
}



/* SETTINGS PAGE */

#settings {
    padding: 110px 75px 100px 75px;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

#settings #main-text {
    border-bottom: 4px solid #153A1E;
    width: 13em;
    font-weight: 600;
    font-size: 36px;

}

#settings .main-info-text {
    padding: 1em;

}

#settings .main-info-text-box {
    background-color: #d4d4d4;
    border-radius: 8px;
    padding: 1em;

}

#settings .main-info {

    padding: 1em;


}

#settings .main-info .settngs-logo {
    width: 12em;
    margin-right: 4em;
}

#settings .main-info-logo {
    background-color: #d4d4d4;
    border-radius: 8px;
    padding: 1em;
}

.main-table {
	font-weight: 300;
	background: white;
	border-radius: 15px;


}
.main-table td{


	padding: 0.4em;
}

.main-table select{
border: none;

}
.main-table input{
    border-bottom: 2px solid #0d0d3c;
    border-top:none ;
    border-left: none;
    border-right: none;
}



table tr:last-child td:first-child {
	border-bottom-left-radius: 15px;

}

table tr:last-child td:last-child {
	border-bottom-right-radius: 15px;
}






.main-section {
    padding: 0em 6em;
}

/*FOOTER*/

#footer-logo {
    width: 8em;
    position: absolute;
    bottom: 10px;
    left: 25px;
}





